{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>midimi.co</title>
        <meta name="description" content="midimo?">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="logo">
            <img src="{% static 'images/midimo_logo.png' %}" alt="">
        </div>
        <div class="hero-position">
            <div class="hero-text">
                “A little home, a room with a few mats to sleep on, a dish of vegetable picked from your own garden and perhaps listening to the falling rain with good stories from really great friends.” - This is our grandparents’ thoughts on a life worth living. A simple life. One that has all the time in the world, and only a few of what we really need. <br/><br/>
                Join us in this little world of Vietnamese and travel deeply into our way of life. 
            </div>
            <div class="pretext">
                authentic made in vietnam experience
            </div>
            <div class="coming-soon">
                coming soon.
            </div>
            <form action="//midimo.us14.list-manage.com/subscribe/post?u=2e9cb1e0383ff97aeb29ce8b2&amp;id=5b69396881" class="subscription" method="post">
                <input type="email" name="EMAIL" placeholder="email address" class="email" />
                <input type="submit" value="stay tuned" class="submit" name="subscribe" />
            </form>
        </div>
    </body>
</html>